pyopenssl==22.0.0
Flask==1.1.1
itsdangerous==2.0.1
gunicorn==19.9.0
requests==2.27.1
jinja2<=3.0.3
Werkzeug<=2.0.3
hdt==2.3
rapidfuzz==2.1.*
bs4
whapi==0.6.*
https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.3.0/ru_core_news_sm-3.3.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
spacy
slovnet==0.5.*
navec
pytorch-crf==0.7.*
udapi==0.3.*
torch==1.7.1
transformers==4.10.1
